//MIXINS
@mixin header($size: 25px)
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: $size;
}

@mixin paragraph($size: 18px)
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@mixin transparentBG($color, $alpha)
{
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin shadow($hOffset: inset, $vOffset: 0px, $blur: 0px, $spread: 5px, $color: #000)
{
  -moz-box-shadow: $hOffset $vOffset $blur $spread $color;
  -webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
  box-shadow: $hOffset $vOffset $blur $spread $color;
}

@mixin textShadow($X: 1px, $Y: 1px, $blur: 3px, $color: #888)
{
  text-shadow: $X $Y $blur $color;
}

@mixin rounded-corners($radius: 5px)
{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//ELEMENTS
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.7em;
}

#mainContent {
  padding: 0;
  height: 100%;

  #map-canvas {
    height: 100%;

    img {
      max-width: none;
    }
  }

  #entryListContainer {
    height: 100%;

      ul {
        height: 100%;
        overflow: auto;
        
        li {
          background-color: #cecece;
          height: 32px;
          margin-bottom: 10px;

          img {
            display: inline-block;
          }

          p {
            display: inline-block;
            position: relative;
            top: -12px;
            font-size: 0.75em;
          }
        }

        li:nth-child(odd) {
          background-color: #fff;
        }
      }
  }
}

//CLASSES
.thumbnail {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 171px;
  height: 128px;
}
